@font-face {
	font-family:'Yourfont';
	src: url('css/GothamProBla.otf');
}
.menu {
    left: 20%;
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0px;
    background: #f8f8f8;
    font-family: "GothamProBla"; /* Гарнитура шрифта */
}
.main { 
    background-color: #ffffff;
    position: absolute;
    width: 45%;
    height:100%;
    left: 35%;
    top:0px;
}
.top {
    position: relative;
    width: 100%;
    height: 25%;
}
.content {
    position: relative;
    width:60%;
    height: 90%;
}
.note {
    position: absolute;
    width: 40%; 
    height: 90%;
    left: 60%;
    top: 25%;
}
.logo {
    width: 100%;
    height: 15%;
}
li {
    height: 50px;
}
ul {
    list-style-type: none;
}
.exet {
     position: absolute;
     right: 10px;
     top: 10px;
 }
 .shortnot {
     text-align: center;
     left: 10%;
     top: 10%;
     right: 10%;
     height: 100px;
     border: 1px;
     box-shadow: 0 0 5px rgba(0,0,0,0.2);
 }
 .not {
     position: relative;
 }
 .ArtField {
     min-height: 120px;
     position: relative;
 }
 .ArtText {
     left: 5%;
     top: 5%;
     right: 5%;
     min-height: 100px;
     position: absolute;
     border: 1px;
     box-shadow: 0 0 5px rgba(0,0,0,0.2);
 }
 .notice {
     position: relative;
 }
 .notice div {
     padding-block-end: 10px;
 }
 .top div {
     position: absolute;
 }
 #topimg1 {
     bottom: 0px;
     width: 30%;
     left: 5%;
 }
 #progressbar {
     position: relative;
     left: 35%;
     top: 45%;
     background: #cccccc;
     height: 24px;
     width: 40%;
     border-radius: 7px;
 }
 #topimg2 {
     bottom: 30%;
     width: 20%;
     left: 80%;
 }
 #progress {
     background: #6396ca;
     border-radius: 5px;
     height: 18px;
     top: 3px;
     left: 1%
 }
 .botlogo {
     position: absolute;
     bottom: 10%;
 }
 #year {
     width: 100%;
     position: absolute;
     text-align: center;
     bottom: 1%;
 }