@font-face {
	font-family: gotham;
	src: url(GothaProLig.otf);
}
@font-face {
	font-family: rouble;
	src: url(rouble.ttf);
}
a {
	text-decoration: none;
	color: black;
}
body {
    font-family: gotham;
}
.menu {
    position: fixed;
    width: 270px;
    min-height: 890px;
    height: 100%;
    top: 0px;
	 left: 0px;
    background: #f8f8f8;
}
.list{
	top:0;
 	position: absolute;
	width:100%;
	height: 100%;
	overflow: auto;
}
.tickets{
	overflow: auto;
	top:0;
	position: fixed;
	border-width: 0px 0px 0px 1px;
	border-color: #6396ca;
	border-style: solid;
	background: #ffffff;
	width: 1000px;
	height: 100%;
	left: 590px;
	padding-left: 20px;
}
h4 {
	font-size: 22px;
}
.children span, .adult span {
	position: relative;
	height: 30%;
	width: 100%;
	text-align: center;
	top: 20%;
}
.children p, .adult p {
	margin: 0;
}
li {
    height: 50px;
}
li a {
    position: absolute;
    padding-top: 18px;
}
ul {
    list-style-type: none;
}
#rednote {
 position: absolute;
 left: 30%;
 top: 8px;
 vertical-align: middle;
 font-size: 14px;
 text-align: center;
 color: white;
 background: #ff3300;
 height: 18px;
 border-radius: 9px;
 padding-left: 5px;
 padding-right: 5px;
}
#bubble {
	 position: relative;
}
.botlogo {
		position: absolute;
		bottom: 10%;
}
#year {
		width: 100%;
		position: absolute;
		text-align: center;
		bottom: 1%;
}
.logo {
    width: 100%;
    height: 15%;
}

.children{
	position: absolute;
	width:20%;
	height: 10%;
}
.adult{
  position: absolute;
	width:20%;
	left: 20%;
	height: 10%;
}
.price{
	height: 40%;
	padding-top: 15px;
	width:100%;
	font-size: 25px;
	}
.date{
	height: 30%;
	width:100%;
}
.ticket{
	cursor:pointer;
	height:10%;
	border-width: 0px 0px 1px 0px;
	border-color: #f2f2f2;
	border-style:solid;
	width: 100%;
	}
.content {
	top:0;
 	position: absolute;
	width: 337px;
	height: 100%;
	left: 270px;
	overflow: auto;
}
.info{
	margin-bottom: 30px;
	width: 50%;
	display: inline-block;
}
.click{
	cursor:default;
	height:10%;
	width: 100%;
	background:#6396ca;
}
.blueround {
	background: #6396ca;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
}
.blockinfo {
	width: 60%;
	display: inline-block;
}
.blockinfo p {
	margin: 0;
}
.blueround .fa-print {
	position: absolute;
	text-align: center;
	left: 15px;
	top: 17px;
	color: white;
}
.around {
	position: relative;
	width: 40%;
	display: inline-block;
}
.RightBlock {
	position: relative;
	height: 100%;
	left: 50%;
	width: 50%;
}
